@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(226, 226, 226) !important;
}

.bg-brown {
  background-image: linear-gradient(to right bottom, #622d00, #874103, #ae5703, #d66e03, #ff8600);
}

.orange {
  color: #874103;
}

nav .form-control {
  border-radius: 1rem;
}

form > button {
  right: 8px;
}

#cards img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.invisibile {
  display: none;
}

.center-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.card {
  transition: transform 0.4s ease; /* Effetto di transizione per un cambiamento più fluido */
}

.card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.offcanvas-body p {
  font-weight: bold;
}

.offcanvas-body {
  font-weight: bold;
  font-size: larger;
}

/* bottone che sposta la x di chrome per cancellare la ricerca */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  position: absolute;
  right: 35px;
}
